/* CSS reset */
* {
    margin: 0px;
    box-sizing: border-box; /* elments size inclues padding and border */

}

body {
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
    font-family: sans-serif;
}

.main {
    background-color: rgb(75, 75, 75);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.main h1 {
    text-align: end;
}