/* CSS reset */
* {
    margin: 0px;
    box-sizing: border-box; /* elments size inclues padding and border */

}

body {
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
    font-family: sans-serif;
}

.main {
    background-color: rgb(75, 75, 75);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main h1 {
    text-align: end;
}

.list {
    background-color: rgb(41, 41, 41);
    margin: 10px;
    border-radius: 20px;
    padding: 50px 20px;
    flex-grow: 1;
}

.form {
    background-color: rgb(41, 41, 41);
    margin: 10px;
    border-radius: 20px;
    padding: 50px 20px;
    display: flex;
    gap: 10px;
}

.form input {
    font-size: 24px;
    border-radius: 8px;
    width: 100%;
}


.form button {
    width: 80px;
    background-color: inherit;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 24px;
}

.list-item {
    background-color: firebrick;
    margin: 10px;
    padding: 15px;
    border-radius: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.list-item > label {
    font-size: 25px;
}

.list-item input {
    width: 25px;
    height: 25px;
}

